.profile-page {
    height: 100vh; /* Take up the full height of the screen */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .content-center {
    display: flex;
    align-items: center;
  }
  
  .avatar-container {
    margin-right: 20px; /* Adjust the desired spacing */
  }
  
  .avatar {
    width: 100px; /* Set the width of the profile picture */
    height: 100px; /* Set the height of the profile picture */
    border-radius: 50%; /* Make the picture circular */
  }
  
  .profile-info {
    text-align: left; /* Align the information to the left */
  }
  